extends layout

block content
 div
  a.btn.btn-primary.btn-lg.btn-block(href="generate") Comparar y Generar Reporte
 table.table
  thead.thead-dark
   tr
    th Fecha
    th Imagen Base
    th Imagen Modificada
    th Diferencias
    th Observaciones
  tbody
  each val in data
   tr 
    td=new Date(`${val[0].substr(-14,10)}`*1000)
    td
     img(src=`./${val[0]}` style="width:220px")
    td
     img(src=`./${val[3]}` style="width:220px")
    td
     img(src=`./${val[2]}` style="width:220px")
    td
     iframe(src=`./${val[1]}` style="border:none")


 